:root {
    --purple: #B388EB;
    --periwinkle: #8093F1;
    --blue: #72DDE7;
    --cream: #F4F4ED;
    --pink: #F7AEF8;
}

* {
    font-family: basic-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: var(--periwinkle);
}

::selection {
    color: var(--pink);
    background: var(--periwinkle);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

html {
    background-image: linear-gradient(var(--purple), var(--periwinkle), var(--blue));
    background-size: cover;
    scrollbar-width: none;
}

body {
    background-color: var(--cream);
    max-width: 800px;
    margin: auto;
    /* overflow-x: hidden; */
}

body img {
    max-width: 100%;
}

header {
    margin-top: 0px;
    margin-bottom: 15px;
}

header h1 {
    font-family: ohno-blazeface, sans-serif;
    font-weight: 700;
    font-size: 65px;
    font-style: italic;
    background: -webkit-linear-gradient(var(--purple), var(--periwinkle), var(--blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 70px;
    padding: 10px;
}

nav {
    margin-top: 0px;
    /* margin-bottom: 20px; */
    padding: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    list-style-type: none;
    line-height: 0px;
    text-align: center;
    margin: 10px;
}

nav a, #contact a {
    font-family: ohno-blazeface, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}

nav a:hover, #contact a:hover {
    color: var(--pink);
    background-color: var(--periwinkle);
}

.banner {
    max-width: 100%;
    margin: 10px 0;
    display:block;
}

main {
    margin: 15px;
    display: block;
    flex-basis: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center; 
    justify-content: center;
}

#about, #work, #contact {
    margin: 10px;
    padding: 10px;
    display: flex;
    gap: 15px;
    flex-direction: row wrap;
    flex-basis: 100%;
    flex-shrink: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#work {
    flex-direction: row-reverse;
}

h2 {
    font-family: ohno-blazeface, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

p {
    text-align: justify;
    text-justify: inter-character;
    max-height: 150px;
}

.aboutbox, .workbox, .contactbox {
    display: flex;
    /* max-height: 100%; */
    overflow-y: scroll;
    flex-basis: 100%;
    gap: 10px;
    flex-wrap: wrap;
    overflow-x: scroll;
    justify-content: center;
}

.subheader {
    flex-basis: 150px;
    overflow: hidden;
}

.example {
   flex-shrink: 0;
   flex-grow: 0;
   line-height: 150px;
   align-items: center;
   justify-content: center;
   align-content: center;
   width: 30.333%;
   overflow: hidden;
   position: relative;
   font-size: 13px;
   word-wrap:break-word;
}

.example img {
    border: 1px solid var(--periwinkle);
    opacity: .75;
    position: relative;
}

.example p {
    position: absolute;
    top: -60px;
    left: 15px;
    word-wrap: normal;
    color: var(--periwinkle);
    text-shadow: -1px 0 var(--cream), 0 1px var(--cream), 1px 0 var(--cream), 0 -1px var(--cream);
}

.example:nth-of-type(1) {
    flex-basis: 100%;
}

.example:nth-of-type(1) img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.contact {
    background-color: var(--periwinkle);
    text-align: center;
    line-height: 150px;
    display: inline;
}

footer h3 {
    font-family: ohno-blazeface, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

footer p {
    text-align: center;
    font-size: 10px;
}

@media screen and (max-width: 896px) {

    #about, #work, #contact {
        flex-flow: column wrap;
    }

    .workbox, .contactbox {
        flex-wrap: wrap;
        flex-basis: 30%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .example p {
        word-wrap: normal;
    }

    .subheader {
        flex-basis: auto;
    }
}