:root {
    --purple: #B388EB;
    --periwinkle: #8093F1;
    --blue: #72DDE7;
    --cream: #F4F4ED;
    --pink: #F7AEF8;
}

* {
    font-family: basic-sans, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: var(--periwinkle);
}

h1, h2, h3, a {
    font-family: ohno-blazeface, Garamond, serif;
}

html {
    background-image: linear-gradient(var(--purple), var(--periwinkle), var(--blue));
    background-size: cover;
    scrollbar-width: none;
}

body {
    background-color: var(--cream);
    max-width: 900px;
    margin: auto;
    overflow-x: hidden;
}

/* The item below affects the title and navigation. */
header {
    margin-top: 0px;
    margin-bottom: 15px;
}

/* The item below affects the title only.  */
header h1 {
    font-weight: 700;
    font-size: 65px;
    font-style: italic;
    background: -webkit-linear-gradient(var(--purple), var(--periwinkle), var(--blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 70px;
    padding: 10px;
}

The items below affect the navigation only.
nav {
    margin-top: 5px;
    padding: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    list-style-type: none;
    line-height: 0px;
    text-align: center;
    margin: 10px;
}

/* The items below affect the links in the navigation and in the contact section. */
nav a, #contact a {
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}

nav a:hover, #contact a:hover {
    color: var(--pink);
    background-color: var(--periwinkle);
}

nav a:visited, #contact a:visited {
    color: var(--pink);
}

/* The item below affects the banner located under the header. */
.banner {
    max-width: 100%;
    margin: 10px 0;
    display:block;
}

/* The items below affect the main content of the page. */
main {
    margin: 15px;
    display: flex;
    flex-flow: column wrap;
    flex-basis: 100%;
    align-content: center;
    align-items: center; 
    justify-content: center;
}

main h2 {
    font-family: ohno-blazeface, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

main p {
    text-align: justify;
    text-justify: inter-character;
    max-height: 150px;
}

#about, #work, #contact {
    margin: 10px;
    padding: 10px;
    display: flex;
    gap: 15px;
    flex-flow: row no-wrap;
    flex-basis: 100%;
    flex-shrink: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* This allows the work section to be in a different direction from the about and contact section. */
#work {
    flex-direction: row-reverse;
}

.aboutbox, .workbox {
    display: flex;
    overflow: scroll;
    flex-basis: 100%;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

/* This gives each subheader in the main section a different width from the other flex items. */
.subheader {
    flex-basis: 150px;
    overflow: hidden;
}

/* The below items are for the image gallery in the work section. */
.example {
   flex-shrink: 0;
   flex-grow: 0;
   align-items: center;
   justify-content: center;
   align-content: center;
   overflow: hidden;
   position: relative;
   font-size: 13px;
   word-wrap: break-word;
   width: 20vw;
   min-width: 150px;
}

.example p {
    position: absolute;
    top: 5px;
    left: 5px;
    word-wrap: normal;
    color: var(--periwinkle);
    text-shadow: -1px 0 var(--cream), 0 1px var(--cream), 1px 0 var(--cream), 0 -1px var(--cream);
}

.example img {
    border: 1px solid var(--periwinkle);
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.example img:hover {
    opacity: .5;
}

/* This makes the first image in the image gallery larger than the other items. */
.example:nth-of-type(1) {
    width: 85%;
}

.example:nth-of-type(1) img {
    width: 100%;
    min-width: 200px;
}

/* The below items affect the copyright information in the footer. */
footer {
    padding: 10px;
}

footer h3 {
    /* font-family: ohno-blazeface, sans-serif; */
    font-size: 15px;
}

footer p {
    text-align: center;
    font-size: 10px;
}

/* This item affects the font color and background color of selected text on the page. */
::selection {
    color: var(--pink);
    background: var(--periwinkle);
}

/* This item hides the scrollbar. */
::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

/* This media query helps the page adjust when the width reaches 414px or below.  */
@media screen and (max-width: 414px) {

    #about, #work, #contact {
        flex-flow: column wrap;
    }

    .workbox, .contactbox {
        flex-wrap: wrap;
        flex-basis: 30%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .example p {
        word-wrap: normal;
    }

    .subheader {
        flex-basis: auto;
    }
    
    .example {
        width: 85%;
    }
    .example img {
        width: 100%;
        min-width: 200px;
    }
}