:root {
    --purple: #B388EB;
    --periwinkle: #8093F1;
    --blue: #72DDE7;
    --cream: #F4F4ED;
    --pink: #F7AEF8;
}

* {
    font-family: basic-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
html {
    background-image: linear-gradient(var(--purple), var(--periwinkle), var(--blue));
}

body {
    background-color: var(--cream);
    max-width: 650px;
    margin: auto;
}

header {

}

header h1 {
    font-family: ohno-blazeface, sans-serif;
    font-weight: 700;
    font-style: italic;
}

nav {
    
}

nav ul {
    display: inline;
}

nav li {

}

nav a {
    font-family: ohno-blazeface, sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {

}

main section {

}

main aside {

}

main h2 {
    font-family: ohno-blazeface, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.boxes {

}

.box {

}

.contactLinks {

}

footer {

}

footer h3 {
    font-family: ohno-blazeface, sans-serif;
    font-weight: 400;
    font-style: normal;
}
